---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	category="自己紹介"
	description="About Me"
	pubDate={new Date("2024-12-27")}
	updatedDate={new Date("2026-06-28")}
	heroImage="/pasoko.png"
>
	<h3>自己紹介</h3>
	<p>
		<b>Udon</b>と申します。<a href="https://www.uec.ac.jp/" target="_blank"
			>電気通信大学</a
		>で情報系の大学生をやっています。<br />
		プログラミングが好きなので、色々作ったりしています。<br />
		どうぞよろしくお願いします。
	</p>
	<h3>扱える言語</h3>
	<p>
		※<a href="https://github.com/Gitudon" target="_blank">ここ</a
		>も参照してください。
	</p>
	<ul>
		<li>Python</li>
		<li>Ruby</li>
		<li>HTML/CSS</li>
		<li>JavaScript</li>
		<li>C</li>
		<li>C++</li>
		<li>TypeScript</li>
	</ul>
	<h3>趣味</h3>
	<ul>
		<li>プログラミング・開発</li>
		<li>ゲーム</li>
		<ul>
			<li>カードゲーム</li>
			<ul>
				<li>デュエル・マスターズ</li>
				<li>ウルトラマンカードゲーム</li>
			</ul>
			<li>マイクラ</li>
			<li>東方</li>
			<li>音ゲー(maimai)</li>
		</ul>
		<li>映画鑑賞</li>
		<li>特撮</li>
		<ul>
			<li>ウルトラマン</li>
			<li>仮面ライダー</li>
			<li>スーパー戦隊</li>
			<li>Project R.E.D.</li>
		</ul>
		<li>カラオケ</li>
	</ul>
</Layout>
